<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CqcDBEntities" connectionString="metadata=res://*/CqcDB.csdl|res://*/CqcDB.ssdl|res://*/CqcDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DX-SHDEV-NB;Initial Catalog=conscqc_xh2;Persist Security Info=True;User ID=sa;Password=sql;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>