<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <!--<add name="conn" connectionString="Data Source=.\robin2008;Initial Catalog=ZGZY;Integrated Security=True;User ID=sa;Password=sql" />
  <add name="ZGZYConnectionString" connectionString="Data Source=.\ROBIN2008;Initial Catalog=ZGZY;Persist Security Info=True;User ID=sa;Password=sql" providerName="System.Data.SqlClient" />-->
    <add name="ZGZYConnectionString" connectionString="Data Source=.;Initial Catalog=conscqc_xh;Persist Security Info=True;User ID=sa;Password=13132413" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<!--value即是程序集名称，也是命名空间名称-->
		<add key="DataAccess" value="ZGZY.SQLServerDAL" />
  </appSettings>
	<system.web>
		<authentication mode="Forms">
			<forms name=".DottextCookie" loginUrl="~/admin/login.html">
			</forms>
		</authentication>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
		<compilation debug="true" targetFramework="4.0">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</buildProviders>
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </assemblies></compilation>
        <identity impersonate="false" />
    <httpRuntime maxRequestLength="1024" executionTimeout="3600" />
  </system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="index.htm" />
                <add value="findex.html" />
                <add value="login.html" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
